{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block title %}
    <title>DealMarket</title>
    {% endblock %}
    {% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" href="{% static 'favicon.png' %}" />

    <meta name="description" content="" />


    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
            rel="stylesheet"
    />

    <link rel="stylesheet"  type="text/css"
          href="{% static 'fonts/icomoon/style.css' %}" />
    <link rel="stylesheet"  type="text/css"
          href="{% static 'fonts/flaticon/font/flaticon.css' %}" />

    <link rel="stylesheet"  type="text/css"
          href="{% static 'css/tiny-slider.css' %}" />
    <link rel="stylesheet"  type="text/css"
          href="{% static 'css/aos.css' %}" />
    <link rel="stylesheet"  type="text/css"
          href="{% static 'css/style.css' %}" />


    {% endblock %}



</head>
<body>
{% block menu %}
    {% include 'mainapp/includes/inc_menu.html' %}
{% endblock %}

{% block content %}

{% endblock %}


{% block footer %}
    {% include 'mainapp/includes/inc_footer.html' %}
{% endblock %}



{% block js %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/tiny-slider.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}
</body>
<footer>

</footer>
</html>